$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

html, body {
  padding-top: 20px;
  height:100%;
  font-family: Garamond, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.panel-default{
  width: 435px;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
}
.panel-default > .panel-heading#wice{
  background-color: #E7512D;
  color: white;
  font-size:1.5em;
  text-align: center;
}

.panel-default > .panel-heading#proj{
  background-color: rgba(155,194,207,0.8);
  color: white;
  font-size:1.5em;
  text-align: center;
}


.panel-default > .panel-body{
  background-color: black;
  text-align:center;
}

.panel-default > .panel-footer{
  background-color: white;
  text-align:center;
  color: black;
  font-size: 1.2em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  height:80px;
}

#nav-menu a{
  font-size: 1.5em;
  margin: 15px 15px 0 0;
  color: white;
}

/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

.glyphicon {
  color: black;
  font-size: 1.3em;
}

.footer .glyphicon{
  color: white;
}

.footer{
  color: #777;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0 1px 0;
  margin-left: 0px;
}

.footer ul li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px 10px 10px 5px;
  text-align: center;
}

#resume-contact li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px 10px 10px 5px;
  text-align: center;
}

#page-main{
  padding: 30px 100px 0 0;
  width: 100%;
  min-height: 700px;
}

.port-cols{
  margin-right: 20px;
}

ul li{
  list-style-type: none;
  // margin: 5px;
  // padding: 5px 10px 10px 5px;
}

li h2 #resume-name{
  text-align: left;
  display: inline;
}

h4{
  margin-bottom: 2px;
  padding-bottom: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .container {
      max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }

}
