<div class="col-md-3 col-md-offset-2">
  <img src="images/circular_jm.png" alt="Image of JK Marx">
  </div>
  <div class="col-md-5">
  <h3>Hobbies</h3>
    <p>Pinochle, Lindy Hop, European style board games, running distances greater than a 5k, hiking dog friendly trails, training a particular reactive dog, <a href="http://www.broomstones.com/" target="_blank"> curling,</a>cross-country skiing, and gardening in small boxes.</p>
    <a href="http://www.meetup.com/Greater-Boston-Cube-Cartel/" target="_blank"><img src="images/gbcc.png" alt="Meetup GBCC Link"></a>
    <a href="http://www.meetup.com/Boston-Ruby-Women/" target="_blank"><img src="images/brw.png" alt="Meetup Boston Ruby Women Link"></a>
    <a href="http://www.meetup.com/Girl-Develop-It-Boston/" target="_blank"><img src="images/gdi_logo_square.png" alt="Meetup Girl Develop It Link"></a>
    <a href="http://www.meetup.com/Boston-social-strategy-gamers/" target="_blank"><img src="images/bssg.png" alt="Meetup BSSG Link"></a>
    </div>
  <div class="col-md-8 col-md-offset-2">
  <h3>Other Projects</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Multiple Traveling Salesman Problem</h2>
    </div>
    <div class="panel-body">
      <img src="images/mtsp.png" alt="MTSP Paper Image">
    </div>
    <div class="panel-footer">
      I spent a semester working on the Multiple Traveling Salesman Problem (MTSP) using a genetic algorithm approach. The ability to research, hypothesize, and prove the approach was very gratifying. <br> <a href="https://www.scribd.com/doc/246910863/MTSP-JMarx" target="_blank"> Link to paper. </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h2>Furniture Design: Walnut Inlay Coffee Table</h2>
    </div>
  <div class="panel-body" class="about-proj">
    <img src="images/coffeetable.jpg" alt="Coffee Table Image">
    </div>
    <div class="panel-footer">
    The coffee table was made from birch plywood and walnut. It was displayed in the<a href="http://www.museumofdesign.org/"> Museum of Design Atlanta</a> in Atlanta, Georgia.
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Furniture Design: Lantern Cabinet</h2>
    </div>
    <div class="panel-body">
      <img src="images/latern.jpg" alt="Latern Cabinet Image">
    </div>
    <div class="panel-footer">
      The lantern cabinet is made entirely of finished birch plywood with a black lacquer finish. It was designed with the objective of being commercially produced. The cabinet has quick release mechanisms, which allows it to be disassembled or reassembled within 10 minutes.
    </div>
  </div>
</div>
