<div class='col-md-9 col-md-offset-2'>
  <a href="images/JKMarx_resume_website.pdf">Download Resume PDF</a>
  <br>
  <h2 id="resume-name">Jennifer K. Marx</h2>
  <ul id="resume-contact">
    <li><a href="mailto:jennifer@jkmarx.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </a> </li>
    <li><a href="https://twitter.com/jenniferkmarx" target="_blank"><img src="images/Twitter_logo_blue.png" alt="Twitter logo"></a></li>
    <li><a href="www.linkedin.com/in/jkmarx/en" target="_blank"><img src="images/Logo-Black-21px-TM.png" alt="LinkedIn Logo"></a></li>
    <li><a href="https://github.com/jkmarx" target="_blank"><img src="images/GitHub-Mark-64px.png" alt="Github logo"></a></li>
  </ul>

  <h3>Education</h3>
  <ul>
    <li><h4>Web Development Immersive</h4> General Assembly (G/A) completed Apr 2015<br>
    Three-month intensive program in full-stack web development</li>

    <li><h4>Boston University</h4>
    College of Engineering completed May 2012<br>
    Masters of Engineering in Electrical Engineering <br>
    Systems Concentration G.P.A. 3.6/4.0 <br>
    L.E.A.P. (Late Entry Accelerated Program)</li>

    <li><h4>Georgia Institute of Technology</h4>
    College of Architecture completed May 2005<br>
    Bachelor of Science in Industrial Design<br>
    G.P.A. 3.2/4.0 (Honors)</li>
  </ul>

  <h3>Technical Skills</h3>
  <ul>
    <li>Ruby, Javascript, Ruby on Rails, RSpec, Javascript, jQuery, Angular, Git, HTML5/CSS3, AJAX, Jasmine, Handlebars, Backbone, Heroku, Bootstrap, Postgresql, C++, Matlab, Adobe Illustrator, Capybara</li>
  </ul>

  <h3>Technical Experience</h3>
  <ul>
    <li><h4><a href="https://wiceapp.herokuapp.com/">What I Can Eat App (WICE) </a></h4> G/A Project, Boston, MA Feb 2015
    <br>Recipe app that accounts for a user’s food allergies</li>
    <ul class="resume-list">
      <li> Full Ruby on Rails App with Postgresql database</li>
      <li> Implement Test Driven Development with RSpec testing</li>
    </ul>

    <li><h4>Academic Project</h4>
    WSANs and Robotic Planning, Boston, MA Feb 2012 – May 2012</li>
    <ul class="resume-list">
      <li>Designed a deployment plan for multiple mobile sinks in a WSAN to improve network lifetime</li>
      <li>Investigated current papers on improving WSAN network lifetime</li>
    </ul>

    <li><h4>Academic Research</h4>
    HYNESS Lab, Boston, MA May 2011 – May 2012
    <br>R.U.L.E. Project (Robotic Urban-Like Environment)</li>
      <ul class="resume-list">
        <li>Programmed Zigbee RF4CE and Arduino Uno boards to build moving obstacles</li>
        <li>Programmed M3pi robots in C++ to run autonomous simulations</li>
      </ul>

    <li><h4>Academic Project</h4>
      Logic Design Course, Boston, MA Spring 2011
      <br>“FPGA-Based Image Processing”</li>
    <ul class="resume-list">
      <li>Designed a UART for communication between the Xilinx FPGA board and Matlab using Verilog</li>
      <li>Helped implement the image filtering algorithms for image processing</li>
    </ul>
  </ul>

  <h3>Work Experience</h3>
  <ul>
    <li><h4>Applications Engineer</h4>
      JENTEK Sensors, Waltham, MA July 2012 – Jan 2015</li>
    <ul class="resume-list">
      <li>Wrote C++ software plugins for data processing on JENTEK’s GridStation software package</li>
      <li>Wrote Matlab data processing programs to support the GridStation software package</li>
      <li>Supported programs with fatigue test planning and execution, data analysis, and writing reports</li>
    </ul>

    <li><h4>Office/Sales Associate</h4>
    Longleaf Lumber, Cambridge, MA Aug 2006 - Dec 2010</li>
    <ul class="resume-list">
      <li>Utilized HTML to maintain and update company website</li>
      <li>Designed web and magazine ads using Adobe suite</li>
      <li>Sold antique lumber and other finished goods</li>
    </ul>
  </ul>

</div>
